/* Generic CSS for the entire site */
:root {
    --background: #F8F5F2;
    --primary-accent: #D4AF7F;
    --secondary-accent: #D8A7B1;
    --text: #2E2E2E;
    --link: #A67C9B;
    --border: #8a704e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Lora', serif;
    color: var(--text);
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    height: 100%;
    background-color: var(--primary-accent);
}

h1 {    
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
    color: var(--text);
}

/* Navigation */
nav {
    background-color: var(--primary-accent);
    border-bottom: 1px solid var(--border);
}

nav ul, footer ul{
    list-style: none;
    display: flex;
}

nav li, footer li {
    display: flex;
}

.logo {
    margin-right: auto;
    padding-left: 1em;
    padding-top: 0.4em;
    font-size: 1.2rem; 
    font-weight: 700; 
    cursor: default;
}

nav a, nav p {
    font-size: 1.1rem;
    font-weight: 600; /* semi-bold weight for text */   
    position: relative;
    display: flex;
    text-decoration: none;
    color: var(--text);
    padding: 1.3em 2em;
    transition: color 0.3s ease;
}

nav a::after, footer a::after {
    content: '';
    position: absolute;
    bottom: 0.75em;
    left: 2em;
    right: 2em;
    height: 3px;
    background-color: var(--border);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav a:hover::after,
nav a.active-link::after {
    transform: scaleX(1);
}

#overlay {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

#open-sidebar-button svg,
#close-sidebar-button svg {
    fill: var(--text);
    transition: fill 0.3s ease;
}

#open-sidebar-button:hover svg,
#close-sidebar-button:hover svg {
    fill: var(--border);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button{
    background: none;
    display: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

/* Hero Image */

#hero-image {
    background-image: url('../resources/hero.jpg');
    width: 100vw; /* Full width of viewport */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

/* Overlay for hero image */
#hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50, 0.5);
    z-index: 1;
}
  
#hero-text {
    color: rgba(255, 255, 255, 0.75) !important;
    text-align: center;
    position: absolute;
    font-size: 2.25em;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#hero-main-logo {
    text-align: center;
    position: absolute;
    font-size: 3em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 20em;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Parisienne', cursive;
    font-size: 8.5em;
}

/* Welcome Content */
#welcome-text{
    background-color: var(--background);
    padding-top: 3em;
    padding-bottom: 1em;
}

#welcome-title-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-text-container {
    position: relative;
    margin: auto;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 70vw;
    font-size: 1.5em;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
                -10px -10px 10px white;
}

#welcome-text-container::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 5%;
    width: 5px;
    height: 80%; 
    background-color: var(--primary-accent);
}

#welcome-text h2 {
    text-align: left;
    position: relative;
    padding: 1em;
    font-size: 4em;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
}

#welcome-text h2::after {
    content: '';
    position: absolute;
    bottom: 0.75em;
    left: 2em;
    right: 2em;
    height: 5px;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.75s ease;
}

#welcome-text h2:hover {
    font-variation-settings: "wght" 400; 
    letter-spacing: 0px;
}

#welcome-text h2:hover::after {
    transform: scaleX(1.25);
}

/* About Content */
#about-text{
    background-color: var(--background);
    padding-top: 3em;
    padding-bottom: 1em;
}

#about-title-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-text-container {
    position: relative;
    margin: auto;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 70vw;
    font-size: 1.5em;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
                -10px -10px 10px white;
}

#about-text-container::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 5%;
    width: 5px;
    height: 80%; 
    background-color: var(--primary-accent);
}

#about-text h2 {
    text-align: left;
    position: relative;
    padding: 1em;
    font-size: 4em;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
}

#about-text h2::after {
    content: '';
    position: absolute;
    bottom: 0.75em;
    left: 2em;
    right: 2em;
    height: 5px;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.75s ease;
}

#about-text h2:hover {
    font-variation-settings: "wght" 400; 
    letter-spacing: 0px;
}

#about-text h2:hover::after {
    transform: scaleX(1.25);
}

/* Featured Content */
#featured{
    background-color: var(--background);
    padding-top: 3em;
    padding-bottom: 1em;
}

#featured-title-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured-text-container {
    position: relative;
    margin: auto;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 70vw;
    font-size: 1.5em;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
                -10px -10px 10px white;
}

#featured-text-container::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 5%;
    width: 5px;
    height: 80%; 
    background-color: var(--primary-accent);
}

#featured-text h2 {
    text-align: left;
    position: relative;
    padding: 1em;
    font-size: 4em;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
}

#featured-text h2::after {
    content: '';
    position: absolute;
    bottom: 0.75em;
    left: 2em;
    right: 2em;
    height: 5px;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.75s ease;
}

#featured-text h2:hover {
    font-variation-settings: "wght" 400; 
    letter-spacing: 0px;
}

#featured-text h2:hover::after {
    transform: scaleX(1.25);
}

.featured-event-container {
    position: relative;
    margin-top: 10%;
    padding: 2em;
    width: 60%;
    font-size: 1.2em;
    transition: 0.5s ease;
}

.featured-event-container:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
}

.featured-event-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--primary-accent);
}

.featured-event {
    display: flex;
    align-items: flex-start; 
    gap: 2em; 
    padding: 2em 4em;
    flex-wrap: wrap; 
}

.event-image {
    width: 35%;
    height: auto;
    object-fit: cover;

    /* beautiful frame */
    --s: 15px;  /* size of the frame */
    --b: 2px;   /* border thickness */
    --w: 35%;   /* width of the image */
    --c: var(--primary-accent);
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
        linear-gradient(var(--_g)) 50%/100% var(--_i,100%) no-repeat,
        linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
}

.event-link{
    text-decoration: none;
	color: var(--link);
	font-weight: 700;
    position: relative;
}

.event-link::before {
    content: '';
    background-color: rgba(212, 175, 127, 0.5);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: 0;
    transition: all .3s ease-in-out;
}
  
.event-link:hover::before {
    bottom: 0;
    height: 100%;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #FFD0AE 50%);
}

/* Footer */
#footer {
    background-color: var(--primary-accent);
    color: var(--text);
    padding: 1em;
}

footer p {
    padding-top: 1.5em;
}

/* Media Queries */
@media screen and (max-width: 958px){

    /* Navigation */
    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--border);
        transition: right 0.5s ease-out;
    }

    nav.show{
        right: 0;
    }

    nav.show ~ #overlay{
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    #open-sidebar-button {
        background-color: var(--primary-accent);
        z-index: 11;
    }

    /* Hero Image */
    #hero-main-logo {
        font-size: 5em;
    }

    #hero-text {
        font-size: 1.5em;
        top: 60%;
    }

    /* Content: Welcome / About */
    #welcome-text h2,
    #about-text h2 {
        font-size: 2.5em;
    }

    #welcome-text-container, 
    #about-text-container {
        width: 90vw;
        padding-left: 2.5em;
        padding-right: 2em;
        font-size: 1.2em;
    }

    #welcome-text-container::before,
    #about-text-container::before {
        display: none;
    }

    /* Featured */
    #featured-text h2 {
        font-size: 2.5em;
    }

    .featured-event-container{
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
        -10px -10px 10px white;
    }

    #featured-text-container {
        width: 90vw;
        padding-left: 2.5em;
        padding-right: 2em;
        font-size: 1.2em;
    }

    #featured-text-container::before {
        display: none;
    }

    .featured-event-container {
        width: 90%;
        margin-top: 2em;
    }

    .featured-event {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .event-image {
        width: 100%;
        aspect-ratio: auto;
        padding: 0;
        outline: none;
        outline-offset: 0;
        background: none;
    }
}

@media screen and (min-width: 959px) {
    nav {
        position: static !important;
        height: auto !important;
        width: 100% !important;
        right: auto !important;
        border-left: none !important;
        transition: none !important;
    }

    nav ul {
        flex-direction: row !important;
    }

    #overlay {
        display: none !important;
    }

    #open-sidebar-button,
    #close-sidebar-button {
        display: none !important;
    }
}
